.dark-medium-contrast {
  --md-sys-color-primary: rgb(200 197 255);
  --md-sys-color-surface-tint: rgb(195 192 255);
  --md-sys-color-on-primary: rgb(17 12 69);
  --md-sys-color-primary-container: rgb(141 138 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(203 200 225);
  --md-sys-color-on-secondary: rgb(21 20 38);
  --md-sys-color-secondary-container: rgb(145 142 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(239 189 213);
  --md-sys-color-on-tertiary: rgb(41 12 30);
  --md-sys-color-tertiary-container: rgb(177 132 155);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(229 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(253 249 255);
  --md-sys-color-surface-variant: rgb(71 70 79);
  --md-sys-color-on-surface-variant: rgb(204 201 212);
  --md-sys-color-outline: rgb(164 161 172);
  --md-sys-color-outline-variant: rgb(132 130 140);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 225 233);
  --md-sys-color-inverse-on-surface: rgb(42 41 47);
  --md-sys-color-inverse-primary: rgb(68 66 121);
  --md-sys-color-primary-fixed: rgb(227 223 255);
  --md-sys-color-on-primary-fixed: rgb(11 6 64);
  --md-sys-color-primary-fixed-dim: rgb(195 192 255);
  --md-sys-color-on-primary-fixed-variant: rgb(50 47 102);
  --md-sys-color-secondary-fixed: rgb(227 224 249);
  --md-sys-color-on-secondary-fixed: rgb(16 15 33);
  --md-sys-color-secondary-fixed-dim: rgb(199 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 52 72);
  --md-sys-color-tertiary-fixed: rgb(255 216 234);
  --md-sys-color-on-tertiary-fixed: rgb(35 7 24);
  --md-sys-color-tertiary-fixed-dim: rgb(234 185 209);
  --md-sys-color-on-tertiary-fixed-variant: rgb(78 43 63);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 56 63);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(28 27 33);
  --md-sys-color-surface-container: rgb(32 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
}
