@font-face {
    font-family: "Quicksand";
    font-weight: 400;
    src: url("/fonts/Quicksand/Quicksand-Regular.woff2") format("woff2"),
        url("/fonts/Quicksand/Quicksand-Regular.woff") format("woff"),
        url("/fonts/Quicksand/Quicksand-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Quicksand";
    font-weight: 600;
    src: url("/fonts/Quicksand/Quicksand-SemiBold.woff2") format("woff2"),
        url("/fonts/Quicksand/Quicksand-SemiBold.woff") format("woff"),
        url("/fonts/Quicksand/Quicksand-SemiBold.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"),
        url("/fonts/Poppins/Poppins-SemiBold.woff") format("woff"),
        url("/fonts/Poppins/Poppins-SemiBold.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: url("/fonts/Poppins/Poppins-Extrabold.woff2") format("woff2"),
        url("/fonts/Poppins/Poppins-Extrabold.woff") format("woff"),
        url("/fonts/Poppins/Poppins-Extrabold.ttf") format("ttf");
    font-display: swap;
}

:root {
    --section-width: clamp(16rem, 90vw, 1600px);
    --blog-width: clamp(16rem, 90vw, 1000px);
    --md-ref-typeface-brand: "Poppins";
    --md-ref-typeface-plain: "Quicksand";
    --md-icon-font: "Material Symbols Rounded";
}

html {
    font-size: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

main {
    padding-top: 4rem;
    box-sizing: border-box;
    flex-grow: 1;
}

dialog {
    border: none;
    border-radius: 1rem;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
    } 
}